@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    position: sticky;
    top: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    z-index: 9;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 3%;
}

.nav-link {
    font-size: large !important;
    font-family: 'Roboto', sans-serif;
    transition-property: size;
    transition-duration: infinite;
    transition: ease 400ms;
    color: white !important;
}

.nav-link:hover {
    color: rgb(112, 10, 10) !important;
}

.nav-item {
    transition: ease 400ms;
}

.nav-item:hover {
    transform: scale(1.20);
}

.navbar-brand {
    color: white !important;
}

.navbar-collapse {
    text-align: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler, .navbar-toggler {
    border-color: white !important;
  }

.logoHeader{
    width: 5rem;
    height: 3rem;
    padding-left: 2rem;
}

.divIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 8;
    height: 20vh;
}

.divIcons__allIcons {
    width: 2rem;
    height: 2rem;
}

.divIcons__icon1, .divIcons__icon2, .divIcons__icon3 {
    color: white;
    transform: translateX(-25%);
    animation: floater 3.5s infinite;
    transition: ease 1.75s;
}

.divIcons__icon1 {
    animation-delay: 0s;
}

.divIcons__icon2 {
    animation-delay: 0.5s;
}

.divIcons__icon3 {
    animation-delay: 1s;
}

@keyframes floater {
    0%{transform: translateX(-25%);transition: ease 1.75s;}
    50%{transform: translateX(25%);transition: ease 1.75s;}
}

.bodyIndex { 
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(68, 67, 67, 0) 50%, rgba(0,0,0,1) 100%), url(../img/Barra-Movil-Evento-Fondo.png);
}

.tituloIndex{
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

.divEvento {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 40vh;
    font-weight: bolder;
    color: white;
    height: 80vh;
}

.divIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: wheat;
}

.divIndex__div1, .divIndex__div2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 92.5%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.divIndex__div1 h3, .divIndex__div2 h3 {
    font-size: larger;
    color: coral;
    font-weight: bold;
} 

.divIndex__div1__p, .divIndex__div2__p {
    font-size: large;
    color: wheat;
    margin-bottom: 3rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.h1Pages{
    font-family: 'PT Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
    
.bodyNosotros {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(68, 67, 67, 0) 50%, rgba(0,0,0,1) 100%), url(../img/Equipo-de-Bartenders-Oscuro.png);
    background-position-x: 80%;
    background-position-y: 100%;
}

.nosotros{
    color: wheat;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2rem;
}

.nosotros__p1 {
    margin-left: 3rem;
    margin-right: 45rem;
    margin-top: 2rem;
}

.nosotros__p2 {
    margin-right: 3rem;
    margin-top: 2rem;
    margin-left: 45rem;
}

.nosotros__p3 {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-right: 45rem;
}

.bodyServicios {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(68, 67, 67, 0) 50%, rgba(0,0,0,1) 100%), url(../img/Bartender-Flair-oscuro.png);
    background-size: cover;
}

.serviciosDiv p {
    font-family: 'PT Sans', sans-serif;
    font-size: large;
    line-height: 1.5rem;
    color: wheat;
    text-align: justify;
}

.serviciosDiv__p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.tiposDeServicios {
    display: grid;
    grid-template-areas: "estandar serviciogold premium";
    grid-column-gap: 8%;
    margin-top: 1rem;
    padding-right: 2rem;
}

.tiposDeServicios__div1 {
    grid-area: estandar;
}

.tiposDeServicios__div2 {
    grid-area: serviciogold;
}

.tiposDeServicios__div3 {
    grid-area: premium;
}

.tiposDeServicios__div1, .tiposDeServicios__div2, .tiposDeServicios__div3 {
    display: flex;
    flex-direction: column;
}

.tiposDeServicios__div1 h3, .tiposDeServicios__div2 h3, .tiposDeServicios__div3 h3 {
    text-align: center;
    color: coral;
    font-size: x-large;
}

.serviciosDiv div a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: wheat;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.body__Galeria__Contacto {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(68, 67, 67) 50%, rgba(0,0,0,1) 100%);
}

.divGaleria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 15vw);
    grid-gap: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.galeria1 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: transform .5s ease;
}

.galeria2 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: transform .5s ease;
}

.galeria3 {
    height: 100%;
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: transform .5s ease;
}

.galeria4 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform .5s ease;
}

.galeria5 {
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    transition: transform .5s ease;
}

.galeria6 {
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform .5s ease;
}

.galeria7 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    transition: transform .5s ease;
}

.galeria8 {
    height: 100%;
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform .5s ease;
}

.galeria9 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    transition: transform .5s ease;
}

.galeria10 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    transition: transform .5s ease;
}

.galeria11 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    transition: transform .5s ease;
}

.galeria12 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform .5s ease;
}


.galeria1:hover, .galeria2:hover, .galeria3:hover, .galeria4:hover, .galeria5:hover, .galeria6:hover, .galeria7:hover, .galeria8:hover, .galeria9:hover, .galeria10:hover, .galeria11:hover, .galeria12:hover {
    transform: scale(1.04);
    z-index: 7;
    border: white 2px solid;
}

.body__Galeria__Contacto main h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: large;
    text-align: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.contacto__nombre, .contacto__celular, .contacto__email, .contacto__comentarios {
    font-family: 'PT Sans', sans-serif;
    width: 25rem;
}

.contacto__reset, .contacto__submit {
    font-family: 'PT Sans', sans-serif;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__p__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__p__section__1 {
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    line-height: 3px;
}

.footer__p__section__2 {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


@media screen and (min-width: 0px) and (max-width: 768px) {

    .divIcons__allIcons {
        width: 1.5rem;
        height: 1.5rem;
    }

    .tituloIndex {
        font-size: x-large;
    }

    .divEvento {
        font-size: 1.5rem;
    }

    .divIndex{
        min-height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divIndex__div1 h3 {
        position: relative;
        left: 1rem;
        right: auto;
        margin-top: 2rem;
        font-size: large;
    }

    .divIndex__div2 h3 { 
        position: relative;
        left: auto;
        right: auto;
        font-size: large;
    }

    .divIndex__div2__p, .divIndex__div1__p {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: medium;
    }

    .bodyNosotros {
        background-position-x: 100%;
        background-position-y: top;
        background-repeat: repeat-y;
    }

    .nosotros__p1, .nosotros__p2, .nosotros__p3 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: justify;
        font-size: medium;
    }

    .tiposDeServicios {
        display: grid;
        grid-template-areas: "estandar" 
        "serviciogold" 
        "premium";
    }

    .tiposDeServicios__div1, .tiposDeServicios__div2, .tiposDeServicios__div3 {
        margin-top: 5%;
    }

    .serviciosDiv div a {
        font-size: x-large;
    }

    .serviciosDiv p {
        font-size: medium;
    }

    .tiposDeServicios__div1 h3, .tiposDeServicios__div2 h3, .tiposDeServicios__div3 h3 {
        font-size: large;
    }
    
    .divGaleria {
        display: flex;
        flex-direction: column;
    }

    .footer__p__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .footer__p__section__1, .footer__p__section__2{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .nosotros__p1, .nosotros__p2, .nosotros__p3 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: justify;
    }
    
    .tiposDeServicios {
        display: grid;
        grid-template-areas: "estandar" 
        "serviciogold" 
        "premium";
    }

    .tiposDeServicios__div1, .tiposDeServicios__div2, .tiposDeServicios__div3 {
        margin-top: 5%;
    }

    .divGaleria {
        display: flex;
        flex-direction: column;
    }

}