

@media screen and (min-width: 0px) and (max-width: 768px) {
    
    
    .divGaleria {
        display: flex;
        flex-direction: column;
    }

    .footer__p__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .footer__p__section__1, .footer__p__section__2{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .nosotros__p1, .nosotros__p2, .nosotros__p3 {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: justify;
    }
    
    .tiposDeServicios {
        display: grid;
        grid-template-areas: "estandar" 
        "serviciogold" 
        "premium";
    }

    .tiposDeServicios__div1, .tiposDeServicios__div2, .tiposDeServicios__div3 {
        margin-top: 5%;
    }

    .divGaleria {
        display: flex;
        flex-direction: column;
    }

}