@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.h1Pages {
  font-family: 'PT Sans', sans-serif;
  font-size: x-large;
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh; }
  body header {
    grid-area: header;
    position: sticky;
    top: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    z-index: 9; }
    body header .navbar-collapse {
      text-align: center; }
      body header .navbar-collapse .nav-item {
        transition: ease 400ms; }
        body header .navbar-collapse .nav-item:hover {
          transform: scale(1.2); }
        body header .navbar-collapse .nav-item .nav-link {
          font-size: large !important;
          font-family: 'Roboto', sans-serif;
          transition-property: size;
          transition-duration: infinite;
          transition: ease 400ms;
          color: white !important; }
          body header .navbar-collapse .nav-item .nav-link:hover {
            color: #700a0a !important; }
    body header .navbar-brand {
      color: white !important; }
    body header .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    body header .custom-toggler, body header .navbar-toggler {
      border-color: white !important; }
  body .logoHeader {
    width: 5rem;
    height: 3rem;
    padding-left: 2rem; }
  body main {
    grid-area: main; }
    body main .divIcons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 1rem;
      position: fixed;
      right: 2rem;
      bottom: 2rem;
      z-index: 8;
      height: 20vh; }
      body main .divIcons .divIcons__allIcons {
        width: 2rem;
        height: 2rem; }
      body main .divIcons .divIcons__icon1, body main .divIcons .divIcons__icon2, body main .divIcons .divIcons__icon3 {
        color: white;
        transform: translateX(-25%);
        animation: floater 3.5s infinite;
        transition: ease 1.75s;
        animation-delay: 0s; }
      body main .divIcons .divIcons__icon2 {
        animation-delay: 0.5s; }
      body main .divIcons .divIcons__icon3 {
        animation-delay: 1s; }

@keyframes floater {
  0% {
    transform: translateX(-25%);
    transition: ease 1.75s; }
  50% {
    transform: translateX(25%);
    transition: ease 1.75s; } }
  body footer {
    grid-area: footer;
    text-align: center;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 3%; }
    body footer .footer__p__section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body footer .footer__p__section .footer__p__section__1 {
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        line-height: 3px; }
      body footer .footer__p__section .footer__p__section__2 {
        padding-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 2rem; }

.bodyIndex {
  background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/barra-movil-evento-fondo.png);
  background-position: center; }

body main .tituloIndex {
  text-align: center;
  font-size: xx-large;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white; }

body main .divEvento {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 40vh;
  font-weight: bolder;
  color: white;
  height: 80vh; }

body main .divIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: wheat; }
  body main .divIndex .divIndex__div1, body main .divIndex .divIndex__div2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 92.5%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-align: center; }
    body main .divIndex .divIndex__div1 .divIndex__div1__h2, body main .divIndex .divIndex__div2 .divIndex__div1__h2, body main .divIndex .divIndex__div2 .divIndex__div2__h2 {
      font-size: larger;
      color: coral;
      font-weight: bold; }
    body main .divIndex .divIndex__div1 .divIndex__div1__h2__p, body main .divIndex .divIndex__div2 .divIndex__div1__h2__p, body main .divIndex .divIndex__div2 .divIndex__div2__h2__p, body main .divIndex .divIndex__div1 .divIndex__div2__h2 .divIndex__div2__h2__p, body main .divIndex .divIndex__div2__h2 .divIndex__div1 .divIndex__div2__h2__p {
      font-size: large;
      color: wheat;
      margin-bottom: 3rem;
      margin-right: 2.5rem;
      margin-left: 2.5rem; }

.bodyServicios {
  background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/bartender-flair-oscuro.png);
  background-size: cover; }

.serviciosDiv p {
  font-family: 'PT Sans', sans-serif;
  font-size: large;
  line-height: 1.5rem;
  color: wheat;
  text-align: justify; }

.serviciosDiv__p {
  padding-left: 2rem;
  padding-right: 2rem; }

.serviciosDiv div a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: wheat;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
  transition: ease 400ms; }
  .serviciosDiv div a:hover {
    color: #a70000; }

.tiposDeServicios {
  display: grid;
  grid-template-areas: "estandar serviciogold premium";
  grid-column-gap: 8%;
  margin-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem; }
  .tiposDeServicios .tiposDeServicios__div1 {
    grid-area: estandar;
    display: flex;
    flex-direction: column; }
  .tiposDeServicios .tiposDeServicios__div2 {
    grid-area: serviciogold;
    display: flex;
    flex-direction: column; }
  .tiposDeServicios .tiposDeServicios__div3 {
    grid-area: premium;
    display: flex;
    flex-direction: column; }

.tiposDeServicios__div1__h2 {
  text-align: center;
  color: coral;
  font-size: x-large; }

.bodyNosotros {
  background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/equipo-de-bartenders-oscuro.png);
  background-position-x: 80%;
  background-position-y: 100%; }

.nosotros {
  color: wheat;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2rem; }
  .nosotros .nosotros__p1 {
    margin-left: 3rem;
    margin-right: 45rem;
    margin-top: 2rem; }
  .nosotros .nosotros__p2 {
    margin-right: 3rem;
    margin-top: 2rem;
    margin-left: 45rem; }
  .nosotros .nosotros__p3 {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-right: 45rem; }

.body__Galeria__Contacto {
  background-image: linear-gradient(180deg, black 0%, #444343 50%, black 100%); }

.divGaleria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 15vw);
  grid-gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem; }
  .divGaleria .galeria1 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: transform 0.5s ease; }
  .divGaleria .galeria2 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: transform 0.5s ease; }
  .divGaleria .galeria3 {
    height: 100%;
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: transform 0.5s ease; }
  .divGaleria .galeria4 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform 0.5s ease; }
  .divGaleria .galeria5 {
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    transition: transform 0.5s ease; }
  .divGaleria .galeria6 {
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform 0.5s ease; }
  .divGaleria .galeria7 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    transition: transform 0.5s ease; }
  .divGaleria .galeria8 {
    height: 100%;
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform 0.5s ease; }
  .divGaleria .galeria9 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    transition: transform .5s ease; }
  .divGaleria .galeria10 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    transition: transform 0.5s ease; }
  .divGaleria .galeria11 {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    transition: transform .5s ease; }
  .divGaleria .galeria12 {
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: transform 0.5s ease; }

.galeria1:hover, .galeria2:hover, .galeria3:hover, .galeria4:hover, .galeria5:hover, .galeria6:hover, .galeria7:hover, .galeria8:hover, .galeria9:hover, .galeria10:hover, .galeria11:hover, .galeria12:hover {
  transform: scale(1.04);
  z-index: 7;
  border: white 2px solid; }

.body__Galeria__Contacto main h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: large;
  text-align: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem; }
  .contacto .contacto__nombre, .contacto .contacto__celular, .contacto .contacto__email, .contacto .contacto__comentarios {
    font-family: 'PT Sans', sans-serif;
    width: 20rem; }
  .contacto .contacto__reset, .contacto .contacto__submit {
    font-family: 'PT Sans', sans-serif; }

.imgContacto1 {
  width: 95%; }

.imgContacto2 {
  width: 90%; }

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  body main .divIcons .divIcons__allIcons {
    width: 1.5rem;
    height: 1.5rem; }
  body main .tituloIndex {
    font-size: x-large; }
  body main .divEvento {
    font-size: 1.5rem; }
  body main .divIndex {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body main .divIndex .divIndex__div1__h2, body main .divIndex .divIndex__div2 .divIndex__div2__h2 {
      position: relative;
      left: 1rem;
      right: auto;
      margin-top: 2rem;
      font-size: large; }
      body main .divIndex .divIndex__div1__h2 .divIndex__div1__h2__p, body main .divIndex .divIndex__div2 .divIndex__div2__h2 .divIndex__div1__h2__p, body main .divIndex .divIndex__div1__h2 .divIndex__div2 .divIndex__div2__h2__p, body main .divIndex .divIndex__div2 .divIndex__div1__h2 .divIndex__div2__h2__p, body main .divIndex .divIndex__div1__h2 .divIndex__div2__h2 .divIndex__div2__h2__p, body main .divIndex .divIndex__div2__h2 .divIndex__div1__h2 .divIndex__div2__h2__p, body main .divIndex .divIndex__div2 .divIndex__div2__h2 .divIndex__div2__h2__p {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: medium; }
    body main .divIndex .divIndex__div2__h2 {
      position: relative;
      left: auto;
      right: auto;
      font-size: large; }
  body .bodyNosotros {
    background-position-x: 100%;
    background-position-y: top;
    background-repeat: repeat-y; }
  body .nosotros .nosotros__p1, body .nosotros .nosotros__p2, body .nosotros .nosotros__p3 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
    font-size: medium; }
  body .tiposDeServicios {
    display: grid;
    grid-template-areas: "estandar"  "serviciogold"  "premium"; }
    body .tiposDeServicios .tiposDeServicios__div1, body .tiposDeServicios .tiposDeServicios__div2, body .tiposDeServicios .tiposDeServicios__div3 {
      margin-top: 5%; }
      body .tiposDeServicios .tiposDeServicios__div1 .tiposDeServicios__div1__h2, body .tiposDeServicios .tiposDeServicios__div1 .tiposDeServicios__div2__h2, body .tiposDeServicios .tiposDeServicios__div1 .tiposDeServicios__div3__h2, body .tiposDeServicios .tiposDeServicios__div2 .tiposDeServicios__div1__h2, body .tiposDeServicios .tiposDeServicios__div2 .tiposDeServicios__div2__h2, body .tiposDeServicios .tiposDeServicios__div2 .tiposDeServicios__div3__h2, body .tiposDeServicios .tiposDeServicios__div3 .tiposDeServicios__div1__h2, body .tiposDeServicios .tiposDeServicios__div3 .tiposDeServicios__div2__h2, body .tiposDeServicios .tiposDeServicios__div3 .tiposDeServicios__div3__h2 {
        font-size: large; }
  body .serviciosDiv div a {
    font-size: x-large; }
  body .serviciosDiv p {
    font-size: medium; }
  body .divGaleria {
    display: flex;
    flex-direction: column; }
  body footer .footer__p__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body footer .footer__p__section .footer__p__section__1, body footer .footer__p__section .footer__p__section__2 {
      padding-left: 0rem;
      padding-right: 0rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
  .bodyIndex {
    background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/barra-movil-evento-fondo-sm.png);
    background-position: center; }
  .bodyNosotros {
    background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/equipo-de-bartenders-oscuro-sm.png); }
  .bodyServicios {
    background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/bartender-flair-oscuro-sm.png);
    background-position: center;
    background-size: 100vw; }
  .h2Contacto {
    padding-left: 7rem;
    padding-right: 7rem; } }

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bodyIndex {
    background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/barra-movil-evento-fondo-md.png);
    background-position: center; }
  .bodyNosotros {
    background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/equipo-de-bartenders-oscuro-md.png);
    background-position: center; }
  .nosotros .nosotros__p1, .nosotros .nosotros__p2, .nosotros .nosotros__p3 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify; }
  .bodyServicios {
    background-image: linear-gradient(180deg, black 0%, rgba(68, 67, 67, 0) 50%, black 100%), url(../../img/bartender-flair-oscuro-md.png);
    background-position: center;
    background-size: 100vw; }
  .tiposDeServicios {
    display: grid;
    grid-template-areas: "estandar"  "serviciogold"  "premium"; }
    .tiposDeServicios .tiposDeServicios__div1, .tiposDeServicios .tiposDeServicios__div2, .tiposDeServicios .tiposDeServicios__div3 {
      margin-top: 5%; }
  .divGaleria {
    display: flex;
    flex-direction: column; } }
