.bodyIndex { 
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/Barra-Movil-Evento-Fondo.png);
}

body {
    main {

        .tituloIndex{
            text-align: center;
            font-size: xx-large;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: $color-principal;
        }

        .divEvento {
            font-family: 'Roboto', sans-serif;
            font-size: $remstandard;
            text-align: center;
            padding-top: 40vh;
            font-weight: bolder;
            color: $color-principal;
            height: 80vh;
        }

        .divIndex{
            @include display-flex(row);
            justify-content: center;
            color: wheat;

            .divIndex__div1 {
                @include display-flex(column);
                flex-wrap: wrap;
                width: 92.5%;
                font-family: 'PT Sans', sans-serif;
                font-weight: bold;
                text-align: center;
            

                .divIndex__div1__h2 {
                    font-size: larger;
                    color: coral;
                    font-weight: bold;
                } 

                .divIndex__div1__h2__p {
                    font-size: large;
                    color: wheat;
                    margin-bottom: 3rem;
                    margin-right: 2.5rem;
                    margin-left: 2.5rem;
                }
            }

            .divIndex__div2 {
                    @extend .divIndex__div1;

                .divIndex__div2__h2 {
                    @extend .divIndex__div1__h2;
                } 

                .divIndex__div2__h2__p {
                    @extend .divIndex__div1__h2__p;
                }
            }
        }
    }
}
