$grid-area:(
    header: header,
    main: main,
    footer: footer,
    estandar: estandar,
    sgold: serviciogold,
    premium: premium,
);

$direction:(
    row: row,
    column: column,
);

$icons-delay:(
    icon1: 0s,
    icon2: 0.5s,
    icon3: 1s, 
);