
@media screen and (min-width: 0px) and (max-width: 768px) {
    body {
        main {
            .divIcons {
                .divIcons__allIcons {
                    width: 1.5rem;
                    height: 1.5rem; 
                }
            }
            
            .tituloIndex {
                font-size: x-large; 
            }
              
            .divEvento {
                font-size: 1.5rem; 
            }

            .divIndex {
                min-height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
              
                .divIndex__div1__h2 {
                    position: relative;
                    left: 1rem;
                    right: auto;
                    margin-top: 2rem;
                    font-size: large; 
        
                    .divIndex__div1__h2__p {
                        margin-left: 0rem;
                        margin-right: 0rem;
                        font-size: medium; 
                    }
                }
        
                .divIndex__div2__h2 {
                    position: relative;
                    left: auto;
                    right: auto;
                    font-size: large;
                
                    .divIndex__div2__h2__p {
                        @extend .divIndex__div1__h2__p 
                    }
                }
            }
        }

        .bodyNosotros {
            background-position-x: 100%;
            background-position-y: top;
            background-repeat: repeat-y;
        }

        .nosotros {
            .nosotros__p1, .nosotros__p2, .nosotros__p3 {
                margin-left: 2rem;
                margin-right: 2rem;
                text-align: justify;
                font-size: medium;
            }
        }

        .tiposDeServicios {
            display: grid;
            grid-template-areas: "estandar" 
            "serviciogold" 
            "premium";
    
            .tiposDeServicios__div1, .tiposDeServicios__div2, .tiposDeServicios__div3 {
                margin-top: 5%;
            
                .tiposDeServicios__div1__h2, .tiposDeServicios__div2__h2, .tiposDeServicios__div3__h2 {
                    font-size: large;
                }
            }
        }

        .serviciosDiv div a {
            font-size: x-large;
        }
    
        .serviciosDiv p {
            font-size: medium;
        }

        .divGaleria {
            @include display-flex(column);
        }

        footer {
            .footer__p__section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                    
                .footer__p__section__1, .footer__p__section__2 {
                    padding-left: 0rem;
                    padding-right: 0rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;    
                }
            } 
        }
    }
    
    .bodyIndex { 
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/barra-movil-evento-fondo-sm.png);
        background-position: center;
    }

    .bodyNosotros {
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/equipo-de-bartenders-oscuro-sm.png);
    }

    .bodyServicios {
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/bartender-flair-oscuro-sm.png);
        background-position: center;
        background-size: 100vw;
    }

    .h2Contacto {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}


@media screen and (min-width: 769px) and (max-width: 1200px) {
    .bodyIndex { 
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/barra-movil-evento-fondo-md.png);
        background-position: center;
    }

    .bodyNosotros {
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/equipo-de-bartenders-oscuro-md.png);
        background-position: center;
    }

    .nosotros {

        .nosotros__p1, .nosotros__p2, .nosotros__p3 {
            margin-left: $remstandard;
            margin-right: $remstandard;
            text-align: justify;
        }
    }

    .bodyServicios {
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(68, 67, 67, 0) 50%, rgb(0, 0, 0) 100%), url(../../img/bartender-flair-oscuro-md.png);
        background-position: center;
        background-size: 100vw;
    }
    
    .tiposDeServicios {
        display: grid;
        grid-template-areas: "estandar" 
        "serviciogold" 
        "premium";
    
        .tiposDeServicios__div1, .tiposDeServicios__div2, .tiposDeServicios__div3 {
            margin-top: 5%;
        }
    }

    .divGaleria {
        @include display-flex(column);
    }

}